# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environment
venv/
.env
.env.*

# System files
.DS_Store
Thumbs.db

# Streamlit data/cache
.streamlit/

# VS Code
.vscode/
