streamlit==1.32.0
pandas
numpy
SQLAlchemy
bcrypt==4.1.2
PyJWT==2.8.0
cryptography
reportlab
python-dotenv
Pillow
psycopg2-binary
setuptools
wheel
typing-extensions==4.9.0
greenlet==3.0.3
tzdata==2024.1
